<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                <form th:action="@{/registration/attempt}" th:object="${user_registration_details}"
                                      method="post" style="max-width: 600px; margin: 0 auto;">
                                    <div class="m-3">
                                        <div th:if="${not #strings.isEmpty(error_message)}" class="alert alert-danger" role="alert">
                                            <h5 th:text= "${error_message}"/>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-4 col-form-label">Name: </label>
                                            <div class="col-8">
                                                <label>
                                                    <input type="text" th:field="*{username}" class="form-control" required
                                                           minlength="3" maxlength="30"/>
                                                </label>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="form-group row">
                                            <label class="col-4 col-form-label">Password: </label>
                                            <div class="col-8">
                                                <label>
                                                    <input type="password" th:field="*{password}" class="form-control"
                                                           required minlength="8" maxlength="20"/>
                                                </label>
                                            </div>
                                        </div>
                                        <br/>
                                        <div class="form-group row">
                                            <label class="col-4 col-form-label">Password confirmation: </label>
                                            <div class="col-8">
                                                <label>
                                                    <input type="password" th:field="*{passwordConfirmation}" class="form-control"
                                                           required minlength="8" maxlength="20"/>
                                                </label>
                                            </div>
                                            <div th:switch="${role_input}">
                                                <input type="hidden" th:case="'PREMIUM_USER'" value="PREMIUM_USER" name="savedRole"/>
                                                <input type="hidden" th:case="'DEFAULT_USER'" value="DEFAULT_USER" name="savedRole"/>
                                                <input type="hidden" th:case="'ADMIN'" value="ADMIN" name="savedRole"/>
                                            </div>
                                            <div class="form-group row" th:if="${role_input!= 'ADMIN'}">
                                                <label class="col-4 col-form-label">Role code: </label>
                                                <div class="col-8">
                                                    <label>
                                                        <input type="text" name="userRoleCode" class="form-control"
                                                                maxlength="20"/>
                                                    </label>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Sign Up</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>